h1{
  text-align:center;
  color:Green;
}
h2{
  text-align:center;
    color:Green;
}
h3{
  text-align:center;
    color:Green;
}
.Aquaman{
  height:90vh;
  width:auto;
  text-align:left;
  border:5px solid black;
}
img{
  text-align:center;
  height:60vh;
  width:auto;
}
