body{
  background-color: lightblue;
}


#myEyes {
  background-color: blue;
}

button {
  padding: 5vw;
  border: solid red 4vw;
  margin: 50px;
}

#myNose{
  background-color: pink;
}
button{
  padding: 2vw;
  border: solid red 3vw;
  margin: 20px;
}

#leftEar{
  background-color: white;
}
button{
  padding:1vw;
  border: solid red 2vw;
  margin: 10px;
}

#rightEar{
  background-color: yellow
}
  button{
    padding:1vw;
    border: solid red 2vw;
    margin: 10px;
  }

#myMouth{
  background-color: pink;
}
button{
  padding:1vw;
  border: solid red 2vw;
  margin: 10px;
}
