body {
  background-color: lightyellow;
}

div {
  padding: 4vw;
  background-color: orange;
}

#theImage {
  width: 300px;
  /* height: 700px; */
  border: 2px solid white
}

#theImage img{
  width: 300px;
  display: none;
}
