h1{
  text-align:center;
  color:gold;
}
h2{
  text-align:center;
    color:gold;
}
h3{
  text-align:center;
    color:gold;
}
h4{
  text-align:center;
    color:gold;
}
.Flash{
  height:90vh;
  width:auto;
  text-align:left;
  border:5px solid black;
}
img{
  text-align:center;
  height:60vh;
  width:auto;
}
